.card-container{
    width: 20vw;
    min-width: 275px;
    border-radius: 10px;

}
.img-container{
    width: 100%;
    height: 220px;
    position: relative;
    border-radius: 10px;
}

.card-image{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.img-hover-details{
    position: absolute;
    width: 100%;
    padding: 1.5rem 1rem;
    bottom: 0;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    border-radius: 10px;
    opacity: 0;
}
.img-hover-details h3 a{
    color:white
}
.hover{
    opacity: 1;
}
.img-actions{
    display: flex;
    width: 35%;
    flex-direction: row;
    justify-content: space-evenly;
}
.actions{
    font-size: 1.1rem;
    background-color: white;
    color: black;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: grid;
    place-content: center;
    cursor: pointer;
}
.actions:hover{
    color: rgb(136, 136, 136); 
}
.card-details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    margin-top: .5rem;
}
.author-details{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
   
}
.author-image{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
h3 , h4{
    font-weight: 200;
}
.pro{
    background-color: rgb(200, 198, 198);
    color:white;
    place-content: center;
    padding: 0 2px;
    border-radius: 5px;
    font-size:smaller;
    font-weight: bold;
}
.pro:hover{
    background-color: black;
}
.img-details{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
}
.likes{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;  
    color: rgb(136, 136, 136);  
}
.like {
    cursor: pointer;
}
.like:hover , .liked , .saved{
    color:#ea64d9;
}
.views{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    color: rgb(136, 136, 136);  

}


/* Responsive Styles */
@media (max-width: 768px) { /* Tablet */
    .card-container {
        width: 30vw;
        margin: auto;
    }
}

@media (max-width: 480px) { /* Mobile */
    .card-container {
        width: 90vw;
    }
}