.footer-lower{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 5rem;
    padding: 2rem 3rem;
    flex-wrap: wrap;
}
.footer-lower ul{
    list-style:none;
    display: flex;
    flex-direction: row;
    column-gap: 16px;
    justify-content: center;
    color: rgb(142, 142, 142);
}

.footer-lower ul li a{
    color: rgb(142, 142, 142);
}
/* Responsive Styles */
@media (max-width: 768px) { /* Tablet */
    .footer-lower {
        margin: 1rem;
        padding: 1rem;
        flex-direction: column;
        padding: 0;
        margin: 3rem auto;
    }
    /* .footer-lower ul {
        flex-direction: column;
    } */
}

@media (max-width: 480px) { /* Mobile */
    .footer-lower {
        margin: 1rem;
        padding: 0.5rem;
        padding: 0;
        margin: 3rem auto;
    }
    /* .footer-lower ul {
        flex-direction: column;
    } */
}